{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
                {% for item in posts %}
                    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src={{  item.thumbnail.url }} alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{ item.publish_time|date:'Y/m/d'}}/{{ item.slug }}">{{ item.title }}</a></h3>
						    <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
						    <div class="intro">{{ item.lead }}</div>
						    <a class="more-link" href="{{ item.get_absolute_url }}"> Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
                {% endfor %}


		    </div>
	    </section>
{% endblock %}
