<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    <form method="get" novalidate>
        <label for="first">First</label> <input id="first" type="text" name="first" required>
        <label for="second">second</label> <input id="second" type="text" name="second" required>

        <input type="submit" value="save">
    </form>
-->
<form method="post" novalidate>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br> <br>
    <input type="submit" value="save">

</form>
</body>
</html>